@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "rl";
    src: url("../public/fonts/rl.woff2");
}
@font-face {
    font-family: "fa";
    src: url("../public/fonts/fa-solid-900.woff2");
}

::-webkit-scrollbar-track {
    background-color: rgba(39, 39, 42, 1);
}
::-webkit-scrollbar {
    height: 10px;
    width: 12px;
    background: rgb(85, 85, 92);
}
::-webkit-scrollbar-thumb {
    background: rgb(80, 80, 87);
}

html {
  scroll-behavior: smooth;
}

body, html {
    min-height: 100% !important;
    height: 100%;
    position: relative;
}